<footer>	
	<div class="footer__container">
		<p class="copyright"><span>Made in Manchester, UK</span>    |    <span>Copyright &copy; Phil Thornley {{ site.time | date: '%Y' }}</span></p>
	</div>
</footer>

<script src="/js/jquery-2.2.4.min.js">
<script type="text/javascript">
$(document).ready(function () {
  
  'use strict';
  
   var c, currentScrollTop = 0,
       navbar = $('.nav');

   $(window).scroll(function () {
      var a = $(window).scrollTop();
      var b = navbar.height();
     
      currentScrollTop = a;
     
      if (c < currentScrollTop && a > b + b) {
        navbar.addClass("scrollDown");
      } else if (c > currentScrollTop && !(a <= b)) {
        navbar.removeClass("scrollDown");
      }
      c = currentScrollTop;

      if (a > 300) {
      	navbar.addClass("scrollUp");
      }
      else {
      	navbar.removeClass("scrollUp");
      }
  });
  
});
</script>