.about-me-footer {
	@include rem(margin-bottom, 0rem);
	@include rem(padding, 7rem 0 0);
}

.about-me-footer p {
	@include rem(font-size, 1.7rem);
	@include rem(line-height, 2.2rem);
	font-weight: 300;
}

.about-me-footer .img {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	padding: 0 15px 15px;
}

.about-me-footer img {
	border-radius: 50%;
}
.about-me-footer h2 {
	text-align: center;
}
.about-me-footer .copy {
	padding: 0 15px;
}

.about-me-footer a {
	@extend .link-style;
}
.about-me-footer a:hover, .about-me-footer a:focus, .about-me-footer a:active {
	@extend .link-style-hover;
}