.block {
	position: relative;
	margin: 0px auto;
	padding: 1.5em 1.25em;
	@include rem(max-width, 96rem);
}

.block--nav {
	@extend .block;
	padding: 1.4em 1em;
}

.block--intro {
	@extend .block;
	color: #fff;
}

@media screen and (min-width: 481px) {
	.block--intro {
		padding: 3.5em;
		text-align: center;
	}
}

.block--intro p {
	@include rem(font-size, 2.2rem);
	@include rem(line-height, 3.3rem);
	@include rem(margin, 1.5rem 0 0);
	font-weight: 300;
}