pre {
	background: #f3f5f7;
	color: #7b8391;
	text-shadow: 0 1px 0 rgba(255,255,255,.2);
}

pre {
	padding: 15px 20px;
	margin-bottom: 20px;
	border-radius: 5px;
	white-space: pre-wrap;
}

pre, code, .mono {
	font-family: "Anonymous Pro", Consolas, monospace;
	@include rem(font-size, 1.8rem);
	@include rem(line-height, 2.9rem);
}