.content {
	background: #fff;
	margin-bottom: 33px;
	padding-bottom: 1px;
}

.content__block {
	@extend .block;
	@include rem(max-width, 72.5rem);
}

.content__block--image {
	@extend .content__block;
	@include rem(max-width, 100rem);
}