@font-face {
	font-family: 'remarkableicons';
	src:url('../fonts/icons/remarkableicons.eot');
	src:url('../fonts/icons/remarkableicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icons/remarkableicons.ttf') format('truetype'),
		url('../fonts/icons/remarkableicons.woff') format('woff'),
		url('../fonts/icons/remarkableicons.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class*="icon-"],[data-icon]:before {
	font-family: 'remarkableicons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
	content: "\e60c";
}
.icon-menu:before {
	content: "\e604";
}
.icon-close:before {
	content: "\e60d";
}
.icon-twitter:before {
	content: "\e603";
}

.icon-arrow-up:before {
	content: "\e605";
}

.icon-linkedin:before {
	content: "\e60e";
}

.icon-facebook:before {
	content: "\e600";
}

.icon-flickr:before {
	content: "\e602";
}

.icon-googleplus:before {
	content: "\e601";
}