/* ==========================================================================
   Site styles
   ========================================================================== */


@media screen and (max-width: 500px){
	.content p {
		@include rem(font-size, 2rem);
		@include rem(line-height, 2.8rem);
	}
	
	blockquote { 
		@include rem(font-size, 2.3rem);
		@include rem(line-height, 3rem);
		
	}
	.article--date {
		@include rem(font-size, 1rem);
		margin: 5px 0;
	}
}

@media screen and (min-width: 500px){
	.about-me .img {
		float: left;
	}
	.about-me h2 {
		text-align: left !important;
	}
	.about-me .copy {
		padding-left: 150px !important;
	}
}

@media screen and (min-width: 1000px){
  
  /*
  //Change menu tray width 
  .csstransforms3d.csstransitions.js-nav #view-container {
		-webkit-transform: translate(-25%, 0);
		-moz-transform: translate(-25%, 0);
		-ms-transform: translate(-25%, 0);
		-o-transform: translate(-25%, 0);
		transform: translate(-25%, 0);
	}
	
	*/
	
	.js-ready #nav-links {
	   width: 25%;
	}
	// Make menu tray close button (X) appear 
	.js-ready #nav-links .close-btn {
		display: block;
	}
	// Force the menu button that's always visible to keep the three lines
	.js-nav .nav-btn .icon-menu:before {
		content: "\e604"; 
	}
	
	.js-nav .slide {
		-webkit-transform: translate3d(-25%, 0, 0);
	}
}

@media screen and (min-width: 760px) and (max-width: 999px){

	//Initialise width and position off screen
	.js-ready #nav-links {
	   width: 40%;
	}
	
  	//Sliding properties
  	/*.csstransforms3d.csstransitions.js-nav #view-container {
	    -webkit-transform: translate(-40%, 0);
	    -moz-transform: translate(-40%, 0);
	    -ms-transform: translate(-40%, 0);
	    -o-transform: translate(-40%, 0);
	    transform: translate(-40%, 0);
	}
	
	.csstransforms3d.csstransitions.js-ready.js-nav #nav-links {
		right: -40%;
	}*/
	
	// Make menu tray close button (X) appear 
	.js-ready #nav-links .close-btn {
		display: block;
	}
	
	// Force the menu button that's always visible to keep the three lines
	.js-nav .nav-btn .icon-menu:before {
		content: "\e601"; 
	}
	
	.js-nav .slide {
		-webkit-transform: translate3d(-40%, 0, 0);
	}
}

@media screen and (max-width: 780px){
	// Make content images full width of browser by removing left/right padding
	.content__block--image {
		padding-left: 0;
		padding-right: 0;
	}
}
