
.js-ready #nav-links {
	position: fixed;
	top: 0;
}

#nav-links{
	padding-top: 0em;
	z-index: 200;
	overflow: hidden;
	width: 100%;
	color: rgb(255,255,255);
	background: #333;
	@include rem(font-size, 2.2rem);
	@include rem(line-height, 3.3rem);
	@include rem(margin, 0 0 3.3rem);
	font-weight: 300;

}


#nav-links ul {
	padding: 0;
	list-style: none;
}


#nav-links a { 
	color: #fff;
	display: block;
	padding: 0.8em;
	text-decoration: none;
	border-bottom: 1px solid rgba(255,255,255,0.3);
}


#nav-links a:hover {
	background-color: rgba(255,255,255,0.8);
	color: #333;
}


#nav-links:not(:target) {
	z-index: 1;
	height: 0px;
}


#nav-links:target .close-btn {
    display: block;
}


#nav-links .block {
	position: relative;
	padding: 0px;
	z-index: 2;
	position: relative;
	padding: 0.75em 1.25em;
}


.js-ready #nav-links {
    height: 100%;
    width: 70%;
    //left: 100%;
    background: #333333;  
}

.js-ready #nav-links .block {
	background: transparent;
}

.js-ready #nav-links .close-btn {
	display: none;
	position: absolute;
	top: 0;
	right:0;
	border-bottom: none;
	
	.close-btn--text {
		border: 0;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}
}


  


