.next-up {
	text-align: center;
	@include rem(margin-bottom, 4rem);
}
.next-up h2 {
	padding: 1em;
	margin: 1em auto 0;
	@include rem(width, 15rem);
	text-align: center;
	text-transform: uppercase;
    font-weight: 800;
}

