.js .reveal__fade
{
    opacity:0;
}

.js .reveal__fade-now
{
   transition: opacity .9s ease-in-out;
   -moz-transition: opacity .9s ease-in-out;
   -webkit-transition: opacity .9s ease-in-out;
   opacity: 1;
   
}
.js .reveal__rotate {
	//No styles - only activate on rotate-now
}
.js .reveal__rotate-now {
	-webkit-transition: -webkit-transform 1s 3s ease-in-out;
	-moz-transition: -moz-transition 1s 3s ease-in-out; 
	-o-transition: -o-transition 1s 3s ease-in-out; 
	-ms-transition: -ms-transition 1s 3s ease-in-out;

	-webkit-transform: rotate(360deg); 
	-moz-transform: rotate(360deg); 
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg); 
}