/* ==========================================================================
   TYPE
   - Import webfonts
   - Copy
   - Headings
   ========================================================================== */


/* Import webfonts
   ========================================================================== */
@font-face{
	font-family:"Lato";
	
	//src:url("../fonts/raleway/raleway-medium-webfont.otf");
	//src:url("../fonts/raleway/raleway-medium-webfont.ttf");

	src:url("../fonts/lato/Lato-Reg.otf");
	src:url("../fonts/lato/Lato-Reg.ttf");
}

$brandfont:'Open Sans',helvetica,arial,sans-serif;

html { 
	color: $near-black;
}

/* Copy
   ========================================================================== */

p {          }
.intro {      font-size: $font-size-6; }



/* Headings
   ========================================================================== */

h1, h2,h3,h4,h5,h6, .txt-xlarge { 
	font-family: $brandfont;
}

h2,h3,h4,h5,h6 { 
	@include rem(font-size, 3.8rem);
	font-weight: 300;
	@include rem(line-height, 4.8rem 0); 
	@include rem(margin, 0 0 0.7272rem);
}

h1, .txt-xlarge { 
	@include rem(font-size, 5rem);
	font-weight: 200;
	@include rem(line-height, 6.5rem);
	@include rem(margin, 0 0 0.8rem); 
}

@media screen and (max-width: 700px){
	h1, .txt-xlarge { 
		@include rem(font-size, 4rem);
	}
}

.txt-large { 
	@include rem(font-size, 4rem);
	font-weight: 700;
	@include rem(line-height, 3.6rem 0); 
	@include rem(margin, 0 0 0.7272rem);
} 


.txt-meduim { 
	@include rem(font-size, 2.4rem);
	@include rem(line-height, 3.6rem 0); 
	@include rem(margin, 0 0 0.7272rem); 
} 

.txt-normal { 
	@include rem(font-size, 2.2rem);
} 

.txt-small { 
	@include rem(font-size, 1.4rem);
} 

.txt-xsmall { 
	@include rem(font-size, 1rem);
} 


blockquote {
	color: $gray-medium;
	margin: 0 0 1.25em;
	padding: 0.5625em 1.25em 0.625em 1.1875em;
	border-left: 5px solid $bright-blue;
	@include rem(font-size, 3rem);
	@include rem(line-height, 3.6rem);
	@include rem(margin, 0 0 3.3rem);
	font-family: $brandfont;
	font-style: italic;
}


p, .content ul, .content ol {
	@include rem(font-size, 2.2rem);
	@include rem(line-height, 3.3rem);
	@include rem(margin, 0 0 3.3rem);
	font-weight: 300;
	//text-align: justify;
}

.content p {
	padding: 0;
}

.link-style {
	border-bottom: 1px dotted #666;
	color: #1414e6;
	text-decoration: none; 
}

.link-style-hover {
	border-bottom: 1px solid #0359B1;
}

#main a { 
	@extend .link-style;
}

#main a:hover, #main a:focus, #main a:active {
	@extend .link-style-hover;
}