/* ==========================================================================
   VARIABLES
   ========================================================================== */

/* Colors
   ========================================================================== */

/* Don't use black */

$near-black:  #111;
$white: #fff;

/* Gray scale */

$gray-dark:   #222;
$gray-medium: #666;
$gray-light:  #eee;

/* Background colours */

$bright-blue: #0C70B0;

   
/* Type Scale
   ========================================================================== */

$base__font-size: 62.5%;

/**
 * 12 & 16 as roots then powers of two.
 */

$font-size-1:5em;
$font-size-2:3em;
$font-size-3:2.4rem;
$font-size-4:1.5em;
$font-size-5:1em;
$font-size-6:0.75em;


/* Mobile */
$breakpoint-1-max-width:480px;

/* Tablet */
$breakpoint-2-min-width:480px;
$breakpoint-2-max-width:1024px;


/* Padding
   ========================================================================== */
