.nav__container {
  width: 90%;
  margin: 0 auto;
  clear: both;
}
  
.nav {
  background: #fff;
  color:$near-black;
  height: 80px;
  line-height: 80px;
  /*box-shadow: 1px 1px 1px rgba(0, 0,0, 0.2);*/
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9998;
  transition: all 0.5s;
}

.home .nav {
  background: $red;
  color: #fff;
}


  
ul.navbar-menu {
    margin: 0;
    padding: 0;
    display: inline-block;
    float: right;
}

ul.navbar-menu li {
    display: inline-block;
    margin: 0 10px;
}


.nav__link {
  font-size: $font-size-small;
  color: $near-black;
}

.home .nav__link {
  color: #fff;
}


a.nav__link:hover {
    text-decoration: none;
    border-bottom: #F2D36A 3px solid;
    display: inline-block;
    line-height: 1.65;
}

.nav__link.current {
    text-decoration: none;
    border-bottom: #F2D36A 3px solid;
    display: inline-block;
    line-height: 1.65;
}

a#logo {
    foat: left;
    font-family: $brandfont;
    font-display: optional;
    font-size: 22px;
    font-weight: 400;
    color: $near-black;
    text-decoration:none;
      animation: navFade 1.3s ease-in-out;
      position: relative;
      -webkit-transition: .8s;
      -moz-transition: .8s;
      -o-transition: .8s;
      transition: .8s;
      pacity: 0.66;
}

.home a#logo {
  color: #fff;
}

a#logo:hover {
  cursor: pointer;
  opacity: 0.66;
}

button {
    background: none;
    width: 30px;
    height: 40px;
    margin-top: 20px;
    border: none;
    float: right;
    display: inline-block;
    cursor: pointer;
    display: none;
}
button span {
      width: 30px;
      height: 40px;
      height: 2px;
      background: #333;
      display: block;
      margin: 5px 0;
}

/* Scrolling actions */

.nav.scrollDown {
  transform: translateY(-80px);
}

.nav.scrollUp {
  background: #fff;
}

.nav.scrollUp a#logo {
  color:$near-black;
}

.nav.scrollUp .nav__link {
  color:$near-black;
}
    

@media (max-width: 768px) {
  .nav ul.navbar-menu {
    display: none;
    }
  .nav button {
    display: block;
    }
}
    




.block-revealer__element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  pointer-events: none;
  opacity: 0;
}

/* Menu */
.menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
}

.js .menu {
  pointer-events: none;
}

.js .menu--open {
  pointer-events: visible;
}

.menu__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  list-style-type: none;
  padding: 20vh 3em;
  margin: 0;
  background: $gray-light;
  overflow: hidden;
}

.menu__item {
  padding: 0.15em;
  margin-bottom: 80px;
}

.js .menu__item {
  transform: translate3d(-13em,0,0);
  transition: transform 0s 0.4s;
}

.btn--close {
  opacity: 0;
}

.menu--open .menu__item,
.menu--open .btn--close {
  opacity: 1;
  transform: translate3d(0,0,0);
  transition: opacity 0.4s 0.135s, transform 0.4s 0.135s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.menu--open .menu__item:nth-child(2) {
  transition-delay: 0.165s;
}

.menu--open .menu__item:nth-child(3) {
  transition-delay: 0.195s;
}

.menu--open .menu__item:nth-child(4) {
  transition-delay: 0.225s;
}

.menu .menu__link {
  color: $near-black;
}

.menu .menu__link:hover,
.menu .menu__link:focus {
  outline: none;
}

svg:not(:root) {
    overflow: hidden;
}
.icon {
    display: block;
    width: 1.5em;
    height: 1.5em;
    margin: 0 auto;
    fill: currentColor;
}

.btn--close {
    position: absolute;
    top: 3vw;
    right: 3vw;
    font-size: 0.75em;
    z-index: 100;
}


