---
layout: default
---

<div class="blog">
  <div class="blog__header">
    <div class="blog__header--container">
      <h1 class="txt-large brandfont animate-reveal animate-first">{{ page.title }}</h1>
      {% if page.intro_paragraph and page.intro_paragraph != '' %}
        <p class="txt-medium animate-reveal animate-second">
          {{ page.intro_paragraph | markdownify | remove: '<p>' | remove: '</p>' }}
        </p>
      {% endif %}
    </div>
  </div>

  <div >

  <section class="blog__list animate-reveal animate-third">
    {{ content }}
    <ul>
      {% for post in site.posts %}
        <li>
          <h2><a href="{{ post.url }}"><span>{{ post.title }}</span></a></h4>
          <time datetime="{{ post.date }}">
            <span class="txt-small">{{ post.date | date_to_string }}</span>
          </time>
        </li>
      {% endfor %}
    </ul>
  </section>
</div>





