---
layout: compress
---
<!DOCTYPE html>

{% include head.html %}
	
	{% capture layout %}{% if page.layout %}{{ page.layout }}{% endif %}{% endcapture %}
	
	<body class="{{ layout }}" itemscope itemtype="http://schema.org/WebPage">

    {% include header.html %}

	<!-- Content -->
	<main>
		<div class="content">
				{{ content }}
		</div><!-- /Content -->
	</main>

    {% include footer.html %}

    <script src="/js/anime.min.js"></script>
		<script src="/js/menu-reveal.js"></script>
		<script>
		(function() {
			var navEl = document.querySelector('nav.menu'),
				revealer = new RevealFx(navEl),
				closeCtrl = navEl.querySelector('.btn--close');

			document.querySelector('.btn--menu').addEventListener('click', function() {
				revealer.reveal({
					bgcolor: '#F2D36A',
					duration: 400, 
					easing: 'easeInOutCubic',
					onCover: function(contentEl, revealerEl) {
						navEl.classList.add('menu--open');
						contentEl.style.opacity = 1;
					},
					onComplete: function() {
						closeCtrl.addEventListener('click', closeMenu);
					}
				});
			});

			function closeMenu() {
				closeCtrl.removeEventListener('click', closeMenu);
				navEl.classList.remove('menu--open');
				revealer.reveal({
					bgcolor: '#F2D36A',
					duration: 400, 
					easing: 'easeInOutCubic',
					onCover: function(contentEl, revealerEl) {
						navEl.classList.remove('menu--open');
						contentEl.style.opacity = 0;
					}
				});
			}
		})();
		</script>
		<script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </body>

</html>
