---
layout: compress
---
<!DOCTYPE html>

{% include head.html %}
	
	{% capture layout %}{% if page.layout %}{{ page.layout }}{% endif %}{% endcapture %}
	
	<body class="{{ layout }}" itemscope itemtype="http://schema.org/WebPage">

    {% include header.html %}

	<!-- Content -->
	<main>
		<div class="content">
				{{ content }}
		</div><!-- /Content -->
	</main>

    {% include footer.html %}

    <script src="/js/anime.min.js"></script>
	<script src="/js/menu-reveal.js"></script>
	{% include partials/js__mobile-menu-open.html %}
	
	<script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </body>

</html>
