---
layout: default
---
<h1 class="accessibility-text">{{ page.h1 }}</h1>

<div class="intro red">
  <div class="intro__container">
    
    <div class="intro__heading">
      <p class="txt-large brandfont animate-reveal animate-first">
        Hello, I’m Phil&nbsp;Thornley, a Product Manager & Experience Designer based in Manchester.
      </p>
    </div>

    <div class="intro__about">
      <h2 class="txt-normal animate-reveal animate-second">A few things about me...</h2>

      <p class="txt-medium animate-reveal animate-third">Since 2015, I’ve worked for <a href="http://www.thoughtworks.com">ThoughtWorks</a>, a global software consultancy, working with large enterprises to create great customer experiences that deliver business value.</p>

      <p class="txt-medium animate-reveal animate-fourth">I specialise in <a href="#">Service Design</a> and <a href="#">User Research</a>. I’m also an experienced <a href="#">Agile</a> practitioner and coach.</p>

      <p class="txt-medium">Before ThoughtWorks, I spent 8 years leading design at the <span class="nbsp">Co-op</span>.</p>
    </div>

  </div>
</div>


<div class="clients">
  <div class="clients__container">      
    <h2 class="txt-large brandfont">Organisations I’ve partnered with</h2>

    <div class="clients__grid">

      <div class="clients_grid--item"><img alt="NHS" src="/assets/img/static/client-logo-nhs.png"/></div>
      <div class="clients_grid--item"><img alt="The Co-op" src="/assets/img/static/client-logo-co-op.png"/></div>
      <div class="clients_grid--item"><img alt="Department of Work and Pensions" src="/assets/img/static/client-logo-dwp.png"/></div>
      <div class="clients_grid--item"><img alt="Centrica" src="/assets/img/static/client-logo-centrica.png"/></div>
      <div class="clients_grid--item"><img alt="Littlewoods" src="/assets/img/static/client-logo-littlewoods.png"/></div>
      <div class="clients_grid--item"><img alt="British Gas" src="/assets/img/static/client-logo-britishgas.png"/></div>
      <div class="clients_grid--item"><img alt="Very" src="/assets/img/static/client-logo-very.png"/></div>
      <div class="clients_grid--item"><img alt="Autotrader" src="/assets/img/static/client-logo-autotrader.png"/></div>
      <div class="clients_grid--item"><img alt="Split the Bills" src="/assets/img/static/client-logo-split-the-bills.png"/></div>

    </div>
  </div>
</div>

<div class="things">
  <div class="things__one">
    <div class="things__container ">
      <div class="things__left-align">
        <h2 class="txt-normal">Things I believe in...</h2>

        <h3 class="txt-large brandfont">Agile</h3>

        <p class="txt-medium">I prefer Agile over Waterfall; to be truly successful, teams cannot be agile in silo and I actively promote agile in all organisational levels.</p>

        <h3 class="txt-large brandfont">Data & ‘Value’ led</h3>

        <p class="txt-medium">Whilst some ‘gut feel’ initiatives work, I prefer to start with Data, Research & realistic measurements / KPI’s.</p>

        <h3 class="txt-large brandfont">My rule of thumb for prioritisation</h3>

        <p class="txt-medium">Use Business strategy to choose Target customers, use their Goals and activities to choose Features and content last. Always Minimise output, maximise outcome and impact.</p>
      </div>
    </div>
  </div>

  <div class="things__two">
    <div class="things__container">
      <div class="things__right-align">
        <h3 class="txt-large brandfont">Collaborative & <span class="nbsp">Co-designing</span> sessions</h3>

        <p class="txt-medium">Bringing together different parts of the business brings new perspectives & ideas. I believe in workshops over meetings. When talented people are one room, something good should come out of it, not actions for later. </p>

        <h3 class="txt-large brandfont">Sharing</h3>

        <p class="txt-medium">My tactic is to work out loud and over communicate (Proved very successful in my current role). I advocate a truly open door policy.</p>

        <h3 class="txt-large brandfont">Accessibility</h3>

        <p class="txt-medium">It’s not a nice-to-have: it’s a standard. I’m proud that the <span class="nbsp">Co-op</span> was the first national high street brand to achieve the RNIB’s Surf Right standard.</p>
      </div>
    </div>
  </div>

  <div class="things__three">
    <div class="things__container">
      <div class="things__left-align">
        <h3 class="txt-large brandfont">Prototyping & early feedback</h3>

        <p class="txt-medium">Experiencing an idea helps you refine it. I’d rather spend a day creating a testable paper, clickable jpeg, or HTML & CSS prototype than 4-6 weeks building the finished idea without any feedback</p>

        <h3 class="txt-large brandfont">User testing</h3>

        <p class="txt-medium">Most designs launch without being user tested. Not mine. MVT & A/B testing - Test, learn, iterate & improve in quick succession. </p>
      </div>
    </div>
  </div>
</div>

<div class="thankyou">
  <div class="thankyou__container"> 
    <p class="txt-medium brandfont">Thanks for reading.</p>
  </div>
</div>
