---
layout: default
---
<div class="content__block">
  
  <span class="article--date"><time datetime="{{ page.date }}">{{ page.date | date_to_string }}</time></span>
  {% include page-intro.html %}
  {{ content }}

</div>

{% if page.previous.url %}
<nav aria-label="Adjacent Posts">
  <div class="content__block next-up reveal__fade reveal__fade-now">
    <div>
      <h2 class="txt-small">Next up</h2>

      <a href="{{page.previous.url}}" rel="prev" class="txt-xlarge">{{page.previous.title}}</a>
    </div>
  </div>
</nav>

{% endif %}