---
layout: default
---
<div class="blog">
	<div class="blog__header">
		<div class="blog__header--container">
		  <h1 class="txt-large brandfont animate-reveal animate-first">{{ page.h1 }}</h1>
		  {% if page.description and page.description != '' %}
		  <p class="txt-medium animate-reveal animate-second">{{ page.description }}
		  {% endif %}
		</div>
	</div>

	<div class="blog__content animate-reveal animate-third">

	  {{ content }}

	</div>
</div>

{% if page.previous.url %}
<nav aria-label="Adjacent Posts" class="upnext">
  <div class="upnext__container">
    <div>
      <h2 class="txt-small brandfont">Next up</h2>

      <a href="{{page.previous.url}}" rel="prev" class="txt-large brandfont">{{page.previous.title}}</a>
    </div>
  </div>
</nav>

{% endif %}